.controlstyle{ 
    padding-top: 1%; 
    padding-bottom: 1%;
}

.labelformstyle {
    padding-left: 45%; 
}
.Data2 { 
    display: flex;
    justify-Content: center;
    align-Items: center;
    height: 30vh;
    margin-top: 4%; 
    margin-bottom: 4%; 
    flex-Direction: column;
    background-color: rgb(234, 236, 250);    
    margin-left: 10%; 
    margin-right: 10%; 
    border-radius: 25px;
    width: 100%; 
 
}