.DataContainer { 
    width:100%; 
}
.Data { 
    display: flex;
    justify-Content: center;
    align-Items: center;
    height: 30vh;
    margin-top: 4%; 
    margin-bottom: 4%; 
    flex-Direction: column;
    background-color: rgb(234, 236, 250);    
    margin-left: 25%; 
    margin-right: 25%; 
    border-radius: 25px;
 
}
.TableContainer { 
    padding-top: 1%;
    height: 200vh; 
    overflow: scroll; 
    margin-left: 10%; 
    margin-right: 10%;  
}